# Env
.env
.env.*
!.env.example

# Dependencies (futuro)
node_modules/
web/dist/
api/tmp/

# Go
api/bin/
*.exe
*.test

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
